html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    overflow: hidden;
    height: 100%;
}

.layout-main {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    height: 900px;
  }

  .side {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    size-adjust: 0;
    
  }
  
  .left-side {
    background-image: url('pics/floresimg.png'); 
    margin-left:-100px ;
    margin-top: 50px;
  }
  
  .right-side {
    background-image: url('pics/valkpic.png'); 
    width: 500px;
    margin-top: 60px;
    transform: translateX(50px);
    
  }



.ranks {
    border: 2px solid transparent;
    border-radius: 5px; 
    padding: 15px; 
    margin-top:8px;
    box-shadow: 0 4px 8px transparent; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 280px;
    justify-self: center;
    font-size: clamp(12px, 2vw, 26px);
    white-space: nowrap;
    overflow: hidden;
    height:100px;
}

.ranks:not(:empty) {
    border:#333333;
    box-shadow:rgba(0, 0, 0, 0.4);
    background-color: #2e2e2e;
}

.stats {
    border: 2px solid transparent;
    border-radius: 3px; 
    margin-top:8px;
    margin-bottom:4px;
    box-shadow: 0 4px 8px transparent; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 188px;
    
    font-size: clamp(12px, 2vw, 18px);
    white-space: nowrap;
    overflow: hidden;
    height: 56px;
    padding-left:-60px ;
}

.stats:not(:empty) {
    color: #e0e0e0;
    box-shadow:rgba(71, 149, 173, 0.301);
    background-color: #5f6770c5;
}

.layout-stats{
    display: grid;
    grid-template-columns: auto min-content auto;
    column-gap: 10px;
    margin-top: 10px;
    
}

.ops{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    padding-top: 5px;
}
.ops img{
    width:120px;
    height:120px;
    padding:2px;
}

.border-top{
    border-top: 2px solid #7f8c8d;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 706px;
    justify-self: center;

}

.layout-mates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap:2px;
    
}


.mate{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2px;  
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 20px;
}

.mate p{
    margin-top:-5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.main h1{
    font-size:25px;

}

.main img{
    width:90px;
    height:90px;
    

}

.main input{
    width: 410px;
    height: 25px;
}

.main button {
    width:250px;
    height: 49px;
}

.main button,input{
    padding: 10px 20px;
    margin:2px;
    border: 2px solid #333333;
    background-color: #555555;
    color: #e0e0e0;
    font-family: inherit;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
    font-size: clamp(12px, 2vw, 22px);
    
}

.main input::placeholder {
    color: #aaaaaa;
}

.main button:hover {
    background-color: #888888;
    border-color: #666666;
    cursor: pointer;
}

.stackbox{
    border: none;
    padding: 10px 15px;
    border-radius: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-self: center;
 
}

.boxwrapper {
    display: flex;
    justify-content: center; 
    height: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.stackbox * {
    padding: 2px;
    margin: 0;
}


.stackbox legend{
    text-align: center;
    width: 20%;
}

.stackbox:has(legend):has(p, span) {
    border: 2px solid 	#7f8c8d ;
    border-radius: 8px;
  }

.copper { color: #c04a1b; }
.bronze { color: #574325; }
.silver { color: #737b7e; }
.gold { color: #ffc400; }
.platinum { color: #4f9da6; }
.emerald { color: #16c04e; }
.diamond { color: #0ec8f1; }
.champion { color: #ff4f79 }

