
html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #1f1e1e;
    color: #e0e0e0;
    overflow: hidden;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4; 
    z-index: -1; 
    pointer-events: none; 
}

.layout-main {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    height: auto;
    gap: 1rem;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    * {
        font-size: clamp(9px, 2vw, 11px);
    }
    .win, .loss, .remake {
        font-size: 18px !important;
        margin:0.75px !important;
      }

      .win small, .loss small, .remake small {
        font-size: 12px !important;
      }

      
    .matchbox * {
        font-size:12px !important;
    }

    h1 {
        font-size:25px;
    }
    
    .main button{
        min-height:4rem;
    }

    .footer *{
      
        font-size: 8px;
        position: fixed;
        bottom: 1.5%;
        left:5%;
    }
    .layout-main {
      grid-template-columns: 1fr;
      max-width: 400px;

    }


    .ops *{
        width: 2rem;
        height: 2rem;
    }

    .allstats{
        max-width: 400px;
        max-height:800px;
    }

    .layout-stats{
        max-width:400px;
        max-height:180px;    
    }



    .ops{
        width:400px;
    }

    .matches *{
        font-size: clamp(13px, 2vw, 16px);
    }
    .stackbox{
        height:100px;
    }

    .stackbox *{
        font-size: clamp(14px, 2vw, 24px);
    }

    .matches-title *{
        font-size: clamp(13px, 2vw, 20px);
    }

  }


  .side {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    size-adjust: 0;
    flex-shrink: 0;
    
  }
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
  }

  .loading img{
    width:60px;
    height:60px;
    opacity: 0.8;

  }
  
  .left-side {
    background-image: url('pics/floresimg.png'); 
    margin-left:-100px ;
    margin-top: 50px;
    flex-shrink: 0;
  }
  
  .right-side {
    background-image: url('pics/valkpic.png'); 
    width: 500px;
    margin-top: 60px;
    transform: translateX(50px);
    flex-shrink: 0;
  }



.ranks {
    border: 2px solid transparent;
    border-radius: 5px; 
    padding: 2rem; 
    margin-top:8px;
    box-shadow: 0 4px 8px transparent; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 15.2rem;
    justify-self: center;
    font-size: clamp(12px, 2vw, 26px);
    white-space: nowrap;
    overflow: hidden;
    height:4.05rem;
}

.ranks:not(:empty) {
    border:#333333;
    box-shadow:rgba(0, 0, 0, 0.4);
    background-color: #2e2e2e;
}

.stats {
    border: 2px solid transparent;
    border-radius: 3px; 
    margin-top:8px;
    margin-bottom:4px;
    box-shadow: 0 4px 8px transparent; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 11.8rem;
    
    font-size: clamp(12px, 2vw, 18px);
    white-space: nowrap;
    overflow: hidden;
    height:3.5rem;
    padding-left:-6rem ;
}

.stats2 {
    border: 2px solid transparent;
    border-radius: 3px; 
    margin-bottom:0.5rem;
    box-shadow: 0 4px 8px transparent; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 21.9rem;
    font-size: clamp(12px, 2vw, 22px);
    white-space: nowrap;
    overflow: hidden;
    height: 4rem;
    
}

.stats2:not(:empty) {
    border:#333333;
    box-shadow:rgba(0, 0, 0, 0.4);
    background-color: #2e2e2e;
}


.stats:not(:empty) {
    color: #e0e0e0;
    box-shadow:rgba(71, 149, 173, 0.301);
    background-color: #5f6770c5;
}

.layout-stats{
    display: grid;
    grid-template-columns: auto min-content auto;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    
}

.layout-stats2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    
}

.ops{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    padding-top: 0.5rem;
}
.ops img{
    width:7rem;
    height:7rem;
    padding:0.4rem;
}

.border-top{
    border-top: 2px solid #7f8c8d;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    width: 44.25rem;
    justify-self: center;

}

.layout-mates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap:2px;
    
}

.mate{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2px;  
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 20px;
}

.mate p{
    margin-top:-5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.main-info{
    
    justify-self: center;
    font-family: 'Orbitron', sans-serif;
}

.main-info a{
    color: #f8fa97c5; 
    display: inline;  
}

.main h1{
    font-size:25px;

}

.main img{
    width:90px;
    height:90px;
    
}

.main  a{
    font-family: 'Orbitron', sans-serif;
    color: inherit;  
    font-weight: inherit; 
    display: inline;
}


.main input{
    width: 26.3rem;
    height: 1.6rem;
}


.main button {
    width:15.3rem;
    height:3.05rem;
}

.main button,input{
    padding: 10px 20px;
    margin:2px;
    border: 2px solid #333333;
    background-color: #555555;
    color: #e0e0e0;
    font-family: inherit;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
    font-size: clamp(12px, 2vw, 22px);
    
}

.main input::placeholder {
    color: #aaaaaa;
}

.main button:hover {
    background-color: #888888;
    border-color: #666666;
    cursor: pointer;
}

.stackbox{
    border: none;
    padding: 5px 5px;
    border-radius: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-self: center;
    min-width: 400px;
    max-width: 49rem;
    opacity: 1.5;
}

.boxwrapper {
    display: flex;
    justify-self: center ;
    justify-content: center; 
    height: 9rem;
    margin-top: 0.3rem;
    margin-bottom: 15px;
}


.stackbox * {
    padding: 2px;
    margin: 0;
}


.stackbox legend{
    text-align: center;
    width: 12%;
}

.stackbox:has(legend):has(p, span) {
    border: 2px solid 	#7f8c8d ;
    border-radius: 8px;
  }

.copper { color: #c04a1b; }
.bronze { color: #bb955c; }
.silver { color: #b9bec2; }
.gold { color: #ffc917; }
.platinum { color: #29cadb; }
.emerald { color: #16c04e; }
.diamond { color: #022c9e; }
.champion { color: #ff4f79 }
.unranked {color:#fdfeff}


.matches{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
}

.matches_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

.matchbox{
    border: none;
    padding: 5px 5px;
    border-radius: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-self: center;
    min-width: 400px;
    max-width: 48rem;
}


.matchbox legend{
    text-align: center;
    width: 30%;
}

.matchbox:has(legend):has(p, span) {
    border: 2px solid 	#7f8c8d ;
    border-radius: 8px;
  }



.win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: rgba(117, 243, 117, 0.555);
    font-weight: bold;
    margin: 5px;
    font-size:34px;
}
.loss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: rgba(235, 105, 105, 0.74);
    font-weight: bold;
    margin: 5px;
    font-size:34px;


}
.remake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: rgb(247, 230, 133);
    font-weight: bold;
    margin: 5px;
    font-size:34px;

}


.win small {
    display: block;
    font-size: 12px;
    color: rgba(117, 243, 117, 0.7);
    margin-top: 2px;
}

.loss small {
    display: block;
    font-size: 12px;
    color: rgba(235, 105, 105, 0.7);
    margin-top: 2px;
}

.remake small {
    display: block;
    font-size: 12px;
    color: rgba(247, 230, 133, 0.7);
    margin-top: 2px;
}

.ssbutton{
    background-image: url('pics/image.svg');
    background-size: cover;
    background-color:transparent;
    display: inline-block;
 

    width: 50px;
    height: 50px;
    border: none;
    cursor:pointer;
}


.sharebutton{
    background-image: url('pics/share.svg');
    background-size: cover;
    background-color:transparent;
    
    display: inline-block;

    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.infobutton{
    background-image: url('pics/info.svg');
    background-size: cover;
    background-color:transparent;
    display: inline-block;

    width: 50px;
    height: 50px;
    border: none;
    cursor:pointer;
}



.returnbutton{
    background-image: url('pics/return.svg');
    background-size: cover;
    background-color:transparent;
    display: inline-block;

    width: 50px;
    height: 50px;
    border: none;
    cursor:pointer;
}

.buttons{
        display: grid;
        grid-template-columns: repeat(3, auto); 
        gap: 0.5rem;  
        position: fixed;
        bottom: 4.5%;
        left: 50%;
        transform: translateX(-50%);
    
}
.buttons *{
    margin: 5px;
    opacity: 0.85;
}

.buttons-info{
    display: flex;
    justify-content: center;

    
}

.back-info::before{
    content: "";
    position: fixed;
    background-color: #1c1c1c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pics/plane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
}

.footer {
    display: grid;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    position: fixed;
    bottom: 1.5%;
    left:25%;
}
